@import url("https://p.typekit.net/p.css?s=1&k=gze2nel&ht=tk&f=24543.24545.24549&a=38439520&app=typekit&e=css");
.topNav .navBarPortfolio {
  background: linear-gradient(89.82deg, #1D4534 42.15%, #01DD81 100.83%);
  transform: rotate(-180deg);
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topNav .navBarPortfolio ul {
  margin: auto;
  list-style-type: none;
}
.topNav .navBarPortfolio ul li {
  transform: rotate(180deg);
}
.topNav .navBarPortfolio ul li a {
  text-decoration: none;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #DFDFDE;
}
.topNav .navBarPortfolio ul li a span {
  color: #00DC81;
}

.mainNav {
  border-bottom: 1px solid #3B3F3D;
  height: 96px;
}
.mainNav .navBar {
  display: flex;
  width: 600px;
  height: 96px;
  margin-left: 10%;
}
.mainNav .navBar .nav-list {
  display: flex;
  height: 96px;
}
.mainNav .navBar .nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.mainNav .navBar .nav-list li a {
  text-decoration: none;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FBFBFB;
}
.mainNav .navBar .nav-list li .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #E3E3E3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.mainNav .navBar .nav-list li .dot .arrow {
  border: solid #FBFBFB;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 90.5px;
}
.mainNav .navBar .nav-list li .buttonPortfolio {
  border: none;
  background: none;
  padding: 0;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav .navBar .nav-list li .buttonPortfolio .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #E3E3E3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.mainNav .navBar .nav-list li .buttonPortfolio .dot .arrow {
  border: solid #FBFBFB;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 90.5px;
}
.mainNav .navBar .nav-list .home-link {
  width: 130px;
}
.mainNav .navBar .nav-list .home-logo {
  width: 130px;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container {
  position: fixed;
  width: 855px;
  height: 271px;
  border-radius: 12px;
  top: 120px;
  left: 15%;
  box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.1);
  background: #292A2A;
  display: flex;
  align-items: center;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio {
  display: flex;
  align-items: center;
  margin: auto;
  list-style: none;
  padding: 0;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio .view-all {
  align-self: flex-end;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #00DC81;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio .box {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 143px;
  border: 1px solid #3B3F3D;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio .box .tittle {
  align-self: flex-start;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #9C9C9C;
  margin-bottom: 20px;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio .box .boximg {
  align-self: center;
}
.mainNav .navBar .nav-list .clickedEvent .portfolio-container .fixed-portfolio .box .link-content {
  margin-top: 20px;
  align-self: flex-end;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #00DC81;
}
.mainNav .navBar .nav-list .clickedEvent button.clicked {
  color: #00DB7B;
}
.mainNav .navBar .nav-list .clickedEvent button.clicked .dot .arrow {
  border-color: #00DB7B;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(225deg);
  position: absolute;
  top: 92px;
}

body {
  background-color: #292B2A;
  margin: auto;
}

@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}/*# sourceMappingURL=main.css.map */