.mainNav {
    border-bottom: 1px solid #3B3F3D;

    .navBarPortfolio {
        font-size: 0;
        background: linear-gradient(89.82deg, #1D4534 42.15%, #01DD81 100.83%);
        transform: rotate(-180deg);
        position: relative;
        text-align: center;
        height: 46px;

        ul {
            margin: 0;
            list-style-type: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);

            li {
                transform: rotate(180deg);

                a {
                    text-decoration: none;
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #DFDFDE;

                    span {
                        color: #00DC81;
                    }
                }
            }
        }
    }

    .navBar {
        display: flex;
        width: 500px;
        margin-left: 10%;
        height: 96px;

        div .clickedEvent:active  {
            background-color: #00DB7B;
        }

        .fixedPortfolio {
            position: fixed;
            width: 855px;
            height: 271px;
            background-color: #DFDFDE;
            top: 10%;
            left: 10%;
            background: #292A2A;
            box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.1);
            border-radius: 12px;

            .boxtext3 {
                text-decoration: none;
                font-family: 'sofia-pro';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: #00DC81;
                margin-top: 22%;
            }

            .box {
                width: 304px;
                height: 143px;
                display: inline;
                border: 1px solid #3B3F3D;
                border-radius: 8px;

                .boxtext1 {
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 19px;
                    color: #9C9C9C;
                    margin-left: 20px;
                    margin-top: 20px;
                }

                .boximg {
                    margin-left: 30%;
                    margin-top: 7%;
                }

                a {
                    text-decoration: none;
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    color: #00DC81;
                    position: fixed;
                    top: 22.5%;
                }

                .showmoreone {
                    left: 22%;
                }

                .showmoretwo {
                    left: 43%;
                }
            }
        }

        .fixedServices {

            position: fixed;
            width: 855px;
            height: 271px;
            background-color: #DFDFDE;
            top: 10%;
            left: 10%;
            background: #292A2A;
            box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.1);
            border-radius: 12px;

            .boxtext3 {
                text-decoration: none;
                font-family: 'sofia-pro';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: #00DC81;
                margin-top: 21%;
                position: relative;
                left: -25%;
            }

            .box {
                width: 204px;
                height: 143px;
                display: inline;

                .boxtext1 {
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 19px;
                    color: #9C9C9C;
                    margin-left: 20px;
                    margin-top: 5px;
                }

                .boxtext2 {
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #FFFFFF;
                    justify-content: center;
                    position: relative;

                    img {
                        margin-right: 10px;
                    }

                }
            }
        }

        div {
            display: flex;
            margin: auto;

            ul {
                margin: auto;
                list-style-type: none;

                li {
                    display: flex;


                    .dot {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border: 1.5px solid #E3E3E3;
                        display: inline-block;
                        position: relative;
                        margin-left: 10px;




                    }

                    .arrow {
                        border: solid #FBFBFB;
                        border-width: 0 1.5px 1.5px 0;
                        display: inline-block;
                        position: absolute;
                        padding: 2px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        top: 30%;
                        left: 35%;
                    }

                    a {
                        text-decoration: none;
                        font-family: 'sofia-pro';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 25px;
                        color: #FBFBFB;

                    }
                }
            }

            .hoverEvent:hover a {
                color: #00DB7B;
            }

            .hoverEvent:hover div div .dot .arrow {
                border: solid #00DB7B;
                border-width: 0 1.5px 1.5px 0;
                display: inline-block;
                position: absolute;
                padding: 2px;
                transform: rotate(45deg);
                -webkit-transform: rotate(225deg);
                top: 40%;
                left: 35%;
            }
        }
    }
}