.mainNav {
    border-bottom: 1px solid #3B3F3D;
    height: 96px;

    .navBar {
        display: flex;
        width: 600px;
        height: 96px;
        margin-left: 10%;

        .nav-list {
            display: flex;
            height: 96px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;


                a {
                    text-decoration: none;
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FBFBFB;


                }

                .dot {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1.5px solid #E3E3E3;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;

                    .arrow {
                        border: solid #FBFBFB;
                        border-width: 0 1.5px 1.5px 0;
                        display: inline-block;
                        padding: 2px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        position: absolute;
                        top: 90.5px;
                    }
                }


                .buttonPortfolio {
                    border: none;
                    background: none;
                    padding: 0;
                    font-family: 'sofia-pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FBFBFB;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .dot {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1.5px solid #E3E3E3;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;

                        .arrow {
                            border: solid #FBFBFB;
                            border-width: 0 1.5px 1.5px 0;
                            display: inline-block;
                            padding: 2px;
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            position: absolute;
                            top: 90.5px;
                        }
                    }
                }
            }

            .home-link {
                width: 130px;
            }

            .home-logo {
                width: 130px;
            }


            .clickedEvent {
                .portfolio-container {
                    position: fixed;
                    width: 855px;
                    height: 271px;
                    border-radius: 12px;
                    top: 120px;
                    left: 15%;
                    box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.1);
                    background: #292A2A;
                    display: flex;
                    align-items: center;

                    .fixed-portfolio {
                        display: flex;
                        align-items: center;
                        margin: auto;
                        list-style: none;
                        padding: 0;

                        .view-all {
                            align-self: flex-end;
                            font-family: 'sofia-pro';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 22px;
                            margin-bottom: 20px;
                            color: #00DC81;
                        }

                        .box {
                            display: flex;
                            flex-direction: column;
                            width: 304px;
                            height: 143px;
                            border: 1px solid #3B3F3D;
                            border-radius: 8px;
                            margin: 20px;
                            padding: 20px;



                            .tittle {
                                align-self: flex-start;
                                font-family: 'sofia-pro';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 19px;
                                color: #9C9C9C;
                                margin-bottom: 20px;
                            }

                            .boximg {
                                align-self: center;
                            }

                            .link-content {
                                margin-top: 20px;
                                align-self: flex-end;
                                font-family: 'sofia-pro';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 22px;
                                color: #00DC81;
                            }
                        }
                    }
                }

                button.clicked {
                    color: #00DB7B;

                    .dot .arrow {
                        border-color: #00DB7B;
                        border-width: 0 1.5px 1.5px 0;
                        display: inline-block;
                        padding: 2px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(225deg);
                        position: absolute;
                        top: 92px;
                    }
                }
            }
        }
    }
}